


html 
{
    background-color: rgb(194, 201, 98);
    padding-right:-50px ;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh; 
}


body
{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0px;
    margin-top: -5px;
    color: rgb(0, 0, 0);

}

.flex-center 
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref 
{
    position: relative;
}

.top-right 
{
    position: absolute;
    right: 10px;
    top: 18px;
}

.content 
{
    text-align: center;
}

.title 
{
    font-size: 84px;
    margin-top:100px;

}




/****************************************** IMAGE PRINCIPALE *******************************************/





/************************************************* NAVBAR **********************************************/


ul 
{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(194, 201, 98);
  position: -webkit sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index:1000;
  margin-top: -40px;
}


li 
{
  float: inline-start;
  margin-left: 118px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding:20px;
  text-decoration: none;
}

a:hover 
{
color: #111;
}

.lien{
    margin-right: -70px;
    font-size: 12px;

}



/***************************************** QUI SUIS-JE ? ******************************************/



.txtqsj
{
    margin-left: 45px;
    width: 90%;
}
/***************************************** MES RÉALISATIONS ******************************************/


/* titre et sous-titre */

.titre2
{
    color:rgb(0, 0, 0);
    margin-top: 150px;

}

.soustitre2
{
    color:rgb(0, 0, 0);
    margin-bottom: 70px;

}





/* images */


/* effet HOVER image */


.overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: rgb(209, 69, 4); */
    background-color: rgb(87, 109, 26);
}



.text 
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}







.port1
{
    margin-left: 80px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */
}


.port1:hover  .overlay 
{
        opacity: 1;
}  





  
.port2
{
    margin-top: -205px;
    margin-left: 345px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */

}
  
.port2:hover  .overlay 
{
        opacity: 1;
}  



.port3
{
    margin-top: -205px;
    margin-left: 610px;
    margin-bottom: 20px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */
}


.port3:hover  .overlay 
{
    opacity: 1;
}  


.port4
{
    margin-left: 80px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */

}


.port4:hover  .overlay 
{
    opacity: 1;
}  

.port5
{
    margin-top: -205px;
    margin-left: 345px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */

}

.port5:hover  .overlay 
{
    opacity: 1;
}  


.port6
{
    margin-top: -205px;
    margin-left: 610px;
    margin-right: 100px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */

}

.port6:hover  .overlay 
{
    opacity: 1;
}  




.port77
{
    margin-top: 20px;
    margin-left: 80px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */

}


.port77:hover  .overlay 
{
    opacity: 1;
}  

.port88
{
    margin-top: -205px;
    margin-left: 345px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */

}

.port88:hover  .overlay 
{
    opacity: 1;
}  


.port99
{
    margin-top: -205px;
    margin-left: 610px;
    margin-right: 100px;
    position: relative;
    width: 22.5%;
    /* font-family: 'Raleway', sans-serif; */

}

.port99:hover  .overlay 
{
    opacity: 1;
}  




.textréal
{
    display: none;
    margin-top:70px ;
    margin-bottom:180px;
    width: 70%;
    text-align: center;
}




/******************************************* LES ATELIERS ******************************************/


.titre3
{
    margin-top: 150px
}


#box 
{
    margin: 0 auto;
    color:rgb(0, 0, 0);
    display: inline-block;
    align-items: stretch;
}


.gallery
{
    margin-top: 60px;
}


.img-responsive
{
    border-color: black;
    border-radius: 15px;
}









/* FORMULAIRE D'INSCRIPTION ATELIER */

/* Titre */

#formcont1
{
    margin-top: 150px;
}



.form-control2
{
    width: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-top: 20px;
} 



#nameatelier
{
    margin-top: 40px;

}



#submit1
{
    margin-top: 50px;
    border-radius: 0px;
    background: gray;
    color: white;
    border: 0;
    padding: 1em;
    margin-bottom: 10em;
}




#submit1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #3e8e41;

  }

/* .contact-form
{
    margin-left: 100px;
    margin-bottom: 100px;
    display: flex;

} */


/* 
.form-control
{
    border-style: solid;
    margin-bottom: 10px;
} */



/* .atelier
{
    width: 100%;
    border-style: solid;

} */




/* #bureserv
{
    margin-top: 400px;
    margin-left: -70px;
} */


/* #message 
{
    display: flex;
    flex-direction: column;
    order: 2;
    margin-top: 0px;
    margin-left: 30px;
    width: 120%;

} */



/* #message > textarea
{
    flex: 1; 
    min-width: 18em;
} */


/* 
.msg
{
    margin-left: 30px;

} */





/*********************************************** CONTACT **********************************************/



.évé1
{
    background-color: rgb(43, 48, 38);
    padding-bottom: 100px;
    padding-top: 50px;
}



#formcont
{
    padding-bottom: 50px;
    color: white;
}






.form-control1
{
    width: 50%;
    border-style: solid;
    margin-bottom: 20px;

} 









/***************************************** RÉSEAUW SOCIAUX ********************************************/




.col
{
    align-items: stretch;

}




#ic1:hover 
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: transform .2s;
}


#ic2:hover 
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: transform .2s;
}


#ic3:hover 
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: transform .2s;
}



/****************************************** ESPACE CONNEXION *****************************************/


a 
{
    color: #ffffff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}



#co
{
    color: black;
    font-size: 10px;
}


#co:hover 
{
    color: rgb(194, 201, 98);
}


























































/***************************************** MÉDIAS QUÉRIES ********************************************/






/*-------------------------  pour ecran extra large  -------------------------*/
/* 
@media (min-width: 1366px){


@media (min-width: 1500px) {



/*------------------------------  pour petit écran (Tablette) -------------------------*/

@media (max-width: 1024px) and (min-width: 735px){
    


html 
{
    background-color: rgb(194, 201, 98);
    padding-right:-50px ;
    color: #000000;
    font-weight: 200;

}


body
{
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 0px;
    margin-top: -5px;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
}

.flex-center 
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref 
{
    position: relative;
}

.top-right 
{
    position: absolute;
    right: 10px;
    top: 18px;
}

.content 
{
    text-align: center;
}


/********* ESPACE CONNEXION **************************************/


a 
{
    color: #ffffff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}



#co
{
    color: black;
    font-size: 10px;
}


#co:hover 
{
    color: rgb(194, 201, 98);
}



/********** IMAGE PRINCIPALE *******************************************/


.imgprin
{
    width: 100%;
    height: auto;

}




/*********** NAVBAR **********************************************/



ul 
{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(194, 201, 98);
  position: -webkit sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index:1000;
  margin-top: -40px;
}


li 
{
  float: inline-start;
  margin-left: 28px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding:20px;
  text-decoration: none;
}

a:hover 
{
color: #111;
}

.lien{
    margin-right: -10px;
    font-size: 12px;

}


/********* QUI SUIS-JE ? ******************************************/

.qsj
{
    font-size: 35px;
}



.txtqsj
{
    width: 80%;
    margin-left: 50px;
}



/********* MES RÉALISATIONS ******************************************/


/* titre et sous-titre */

.titre2
{
    /* font-family: 'Petit Formal Script', cursive;  */
    /* color:rgb(190, 117, 32); */
    color:rgb(0, 0, 0);
    font-size: 35px;
    margin-top: 150px;

}

.soustitre2
{
    color:rgb(0, 0, 0);
    /* font-family: 'Raleway', sans-serif; */
    margin-bottom: 70px;
    font-size: 10px;

}





/* images */


/* effet HOVER image */


.overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: rgb(209, 69, 4); */
    background-color: rgb(87, 109, 26);
}



.text 
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.img-fluid1
{
    width: 105%;
    height: 105%;
    margin-left: -80px;
}


.img-fluid2
{
    width: 105%;
    height: 105%;
    margin-left: -215px;
    margin-top: 57px;

}


.img-fluid3
{
    width: 105%;
    height: 105%;
    margin-left: -355px;
    margin-top: 57px;

}


.img-fluid4
{
    width: 105%;
    height: 105%;
    margin-left: -80px;
    margin-top: 0px;

}


.img-fluid5
{
    width: 105%;
    height: 105%;
    margin-left: -215px;
    margin-top: 57px;

}


.img-fluid6
{
    width: 105%;
    height: 105%;
    margin-left: -355px;
    margin-top: 60px;
}









/********** LES ATELIERS ******************************************/


.titre3
{
    margin-top: 100px
}



.textréal2
{
    margin-bottom: -10px;

}


.évé11
{
    padding-bottom: 100px;
    padding-top: -20px;
}


#submit1
{
    background: gray;
    color: white;
    border: 0;
    padding: 1em;
    margin-bottom: 5em;
    margin-top: 50px;
    border-radius: 0px;
}


/* FORMULAIRE D'INSCRIPTION ATELIER */


/* #formcont1
{
    margin-top: 150px;
    margin-left: 220px;
} */

/* 
.contact-form
{
    margin-left: 30px;
    margin-bottom: 100px;
    display: flex;

} */


/* .form-control
{
    border-style: solid;
    margin-bottom: 10px;
} */

















/*********** CONTACT **********************************************/


.évé1
{
    background-color: rgb(43, 48, 38);
    padding-bottom: 100px;
    padding-top: 50px;
}



#formcont
{
    padding-bottom: 50px;
}



.form-control1
{
    border-style: solid;
    margin-bottom: 10px;
} 



.btnsend:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #3e8e41;
}






/*********** RÉSEAUW SOCIAUX ********************************************/

.rs
{

    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: 0px;
}



#ic1:hover 
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: transform .2s;
}


#ic2:hover 
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: transform .2s;
}


#ic3:hover 
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: transform .2s;
}

}

















































/*------------------------------  pour très petit écran (smartphone)-------------------------*/

@media (max-width: 767px) 
{


    html 
    {
        background-color: rgb(255, 255, 255);
        overflow-x : hidden;
    }
    
    
    body
    {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-top: -5px;
        color: rgb(0, 0, 0);

    }
    
  
   
    
    .top-right 
    {
        position: absolute;
        right: 10px;
        top: 18px;
    }
    
  
    
    
    /********* ESPACE CONNEXION **************************************/
    
    
    a 
    {
        color: #ffffff;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
    
    
    
    #co
    {
        color: black;
        font-size: 10px;
    }
    
    
    #co:hover 
    {
        color: rgb(194, 201, 98);
    }
    
    

    
/********** IMAGE PRINCIPALE *******************************************/
    
    
    .imgprin
  {
      width: 150%;
      height: 40%;
      margin-left: -20px;
  }

    
    

/*********** NAVBAR **********************************************/



/* ul 
{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  top: 0;
  margin-top: 300px;
} */


/* li 
{
  float: left;
  margin-left: 28px;
  margin-top: 20px;
} */


li a:hover
{
    background-color: #555;
    color: white;
} 


ul {
    list-style-type: none;
    margin-top: 250px;
    padding: 0;
    margin: 0;
  }
  

li a {
    display: block;
    width: 100px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border: black;
  }





a:hover 
{
color: #111;
background-color:black;
}



.lien
{
    margin-right: -10px;
    font-size: 12px;
}
    
    


    /********* QUI SUIS-JE ? ******************************************/
    
    .qsj
    {
        font-size: 35px;
    }
    
    
    
    .txtqsj
    {
        width: 110%;
        margin-left: -15px;
    }
    
    
    
    /********* MES RÉALISATIONS ******************************************/
    
    
    /* titre et sous-titre */
    
    .titre2
    {
        color:rgb(0, 0, 0);
        font-size: 35px;
        margin-top: 150px;
    
    }
    
    .soustitre2
    {
        color:rgb(0, 0, 0);
        margin-bottom: 70px;
        font-size: 10px;
    
    }
    
    
    .textréal
    {
        display: none;
    }
    
    
    /* images */
    
    
    /* effet HOVER image */
    
    
    .overlay 
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        opacity: 0;
        transition: .5s ease;
        /* background-color: rgb(209, 69, 4); */
        background-color: rgb(87, 109, 26);
    }
    
    
    
    .text 
    {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    


    
    .img-fluid1
    {
        width: 250%;
        height: 250%;
        margin-left: 0px;
    }
    
    
    .img-fluid2
    {
        width: 250%;
        height: 250%;
        margin-left: -408px;
        margin-top: 230px;
    
    }
    
    
    .img-fluid3
    {
        width: 250%;
        height: 250%;
        margin-left: -938px;
        margin-top: 230px;
    
    }
    
    
    .img-fluid4
    {
        width: 250%;
        height: 250%;
        margin-left: 0px;
        margin-top: 5px;
    
    }
    
    
    .img-fluid5
    {
        width: 250%;
        height: 250%;
        margin-left: -408px;
        margin-top: 230px;
    
    }
    
    
    .img-fluid6
    {
        width: 250%;
        height: 250%;
        margin-left: -938px;
        margin-top: 230px;
    }
    
    
    .img-fluid77
    {
        width: 250%;
        height: 250%;
        margin-left: -938px;
        margin-top: 230px;
    }
    
    
    .img-fluid88
    {
        width: 250%;
        height: 250%;
        margin-left: -938px;
        margin-top: 230px;
    }
    
    
    
    .img-fluid99
    {
        width: 250%;
        height: 250%;
        margin-left: -938px;
        margin-top: 230px;
    }
    



    
    /********** LES ATELIERS ******************************************/
    
    
    .titre3
    {
        margin-top: 100px
    }
    
    .textréal2
    {
        margin-bottom: -10px;
        width: 100%;
    
    }
    

    
    
    
    
    
       
    /* FORMULAIRE D'INSCRIPTION ATELIER */
    

    
        
    .évé11
    {
        padding-bottom: 100px;
        padding-top: 50px;
    }





    #formcont1
    {
        margin-top: 150px;
        margin-left: 10px;
    }
    
    
    .contact-form
    {
        margin-left: 10px;
        margin-bottom: 100px;
        display: flex;
    
    }
    
    
    .form-control
    {
        border-style: solid;
        margin-bottom: 10px;
    }
    
    
    
    .atelier
    {
        width: 103%;
    
    }
    
    
    .form-control2
    {
        width: 100%;
        border-style: solid;
        border-color: rgb(87, 109, 26);
    } 
    
    
    button
    {
        background: gray;
        color: white;
        border: 0;
        padding: 1em;
        margin-bottom: 1em;
        margin-top: 150px;
    }
    
    
    
    #message 
    {
        display: flex;
        flex-direction: column;
        order: 2;
        margin-top: 0px;
        margin-left: 30px;
        width: 120%;
    
    }
    
    
    
    #message > textarea
    {
        flex: 1; 
        min-width: 18em;
    }
    
    
    
    .msg
    {
        margin-left: 30px;
    }
    
    #ttmsg
    {
        margin-left: -260px;
        margin-top: 230px ;
    }
    
    
    
    
    /*********** CONTACT **********************************************/
    
    
    
    .évé1
    {
        background-color: rgb(43, 48, 38);
        padding-bottom: 100px;
        padding-top: 50px;
    }
    
  
    
    #formcont
    {
        margin-left: 0px;
        padding-bottom: 50px;
        font-size: 1.3em;
    }
    
  
    
    
    
    .form-control1
    {
        width: 105%;
        border-style: solid;
        margin-bottom: 10px;
    
    } 
    
    
  
    
    .btnsend:hover
    {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: #3e8e41;
    }
    






    /*********** RÉSEAUW SOCIAUX ********************************************/
    
    .rs
    {
        
    display: none;
    
    }
    
    
    
    #ic1
    {
        margin-bottom: 25px;
        margin-right: 0px;
        margin-left: -150px;
    }
    
    
    #ic2
    {
        margin-top: -110px;
        margin-bottom: 45px;
        margin-left: -10px;
    
    }
    
    
    #ic3
    {
        margin-top: -100px;
        margin-bottom: 70px;
        margin-left: 180px;
        
    }
    
    
    
    
    
    
    
    #ic1:hover 
    {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
      transition: transform .2s;
    }
    
    
    #ic2:hover 
    {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
      transition: transform .2s;
    }
    
    
    #ic3:hover 
    {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
      transition: transform .2s;
    }
    
    }















        
    /*********** MENU HAMBURGER **********************************************/
/*     
#hamburger, #hamburger-content{
    display: inline;
}

#hamburger-button{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    padding:0;
    vertical-align: top;
    line-height: 47px;
    float: right;
    margin-right: 32px;
}

    
#hamburger-overlay{
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


#hamburger-sidebar{
    display: none;
    position: fixed;
    z-index: 20;
    width: 84%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(190, 145, 145);

    /* animation sidebar vers la gauche */
    /* transform: translateX(-100%);
    transition: transform .2s ease-out;

}

#hamburger-sidebar li {
    display: block;
}


#hamburger-sidebar-header{
    background-color: rgb(5, 104, 54);
}

#hamburger-sidebar-body{

    padding: 16px 8px;
}


#hamburger-content{
    display: none;
}



#hamburger-button, #hamburger-sidebar{
    display: block;
}  */



